*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #F2F2F2;
}
/* ------------------------------Contenue---------------- */
.corpse{
    display: flex;
    width: 100%;
    height: fit-content;
}

.title{
    text-align: center;
}

.title span{
    font-weight: bolder;
}

.Ensemble{
    margin-left: 15%;
}
/* ---------------------card--------------------------- */
.row{
    display: flex;
    justify-content: space-around;
    margin: 2%;
}
.card{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    /* border-radius: 10px; */
    width: 25%;
    height: fit-content;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.473);
    box-shadow: 0 0 10px 1px black;
}
.lol{
    visibility: hidden;
}

.card_title{
    border: 1px solid black;
    /* background-color: black; */
    color: black;
    padding: 2%;
}

.card_paragraphe{
    text-indent: 50px;
    text-align: center;
}

.btn_card{
    display: flex;
    align-items: center;
    /* padding: 5%; */

    border-radius: 10px;
    padding: 5%;
    background: #006;
    color: white;
}

.btn_card a{
    color: white;
}

.col-1{
    justify-content: center;
    align-items: center;
}

.space_row{
    height: 10px;
}

/* ---------------footer------------------------ */

footer{
    display: flex;
    border-top:1px solid black;
}

.footer_title{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.message_champs{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box_message_champs{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.box_message_champs input{
    margin-left: 20px;
}

textarea{
    height: 100px;
}

.send{
    border-radius: 10px;
    padding: 2%;
    background: #006;
    color: white;
}

.logo{
    width: 50%;
}

.logo img{
    object-fit: contain;
    width: 100%;
}